@model ScoresViewModel
@{
    ViewData["Title"] = "Crear Nota";
}

<form asp-action="Create">

    <h1>Crear Nota</h1>

    <div class="form-group">
        <label>Estudiante</label>
        <select asp-for="UserId"
                asp-items="@(new SelectList(ViewBag.LstStudent,"Id","FullName"))"
                class="form-control">
            <option value="">-- Seleccione --</option>
        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Curso</label>
        <select asp-for="CourseId"
                asp-items="@(new SelectList(ViewBag.LstCourses,"Id","Name"))"
                class="form-control">
            <option value="">-- Seleccione --</option>
        </select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Nota:</label>
        <input asp-for="Score" class="form-control" type="number" />
        <span asp-validation-for="Score" class="text-danger"></span>
    </div>

    <a asp-action="Index" class="btn btn-info">Regresar a la lista</a>
    <button type="submit" class="btn btn-success">Guardar</button>

</form>