@model CoursesViewModel
@{
    ViewData["Title"] = "Crear Curso";
}

<form asp-action="Create">

    <h1>Crear Curso</h1>

    <div class="form-group">
        <label>Nombre:</label>
        <input asp-for="Name" class="form-control" type="text" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="checkbox">
        <label><input asp-for="State.Value" name="State" type="checkbox"> Estado</label>
    </div>

    <a asp-action="Index" class="btn btn-info">Regresar a la lista</a>
    <button type="submit" class="btn btn-success">Guardar</button>

</form>