@model UserViewModel
@{
    ViewData["Title"] = "Editar usuario";
}

<form asp-action="Edit">

    <h1>Editar usuario</h1>

    <input asp-for="Id" type="hidden" />

    <div class="form-group">
        <label>Nombres:</label>
        <input asp-for="FirstName" class="form-control" type="text" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Apellidos:</label>
        <input asp-for="LastName" class="form-control" type="text" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Email:</label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Rol</label>
        <select asp-for="RoleId"
                asp-items="@(new SelectList(ViewBag.LstRoles,"Id","Name"))"
                class="form-control">
            <option value="">-- Seleccione --</option>
        </select>
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>

    <a asp-action="Index" class="btn btn-info">Regresar a la lista</a>
    <button type="submit" class="btn btn-success">Actualizar</button>

</form>

